@import '~antd/es/style/themes/default.less';

@border-color-card: #fafafa;

.left,
.right {
  height: 100%;
  border: 1px solid #e8e8e8;
  :global {
    .ant-collapse,
    .ant-collapse-item,
    .ant-collapse-header,
    .ant-collapse-content {
      border-radius: 0 !important;
    }
  }
}

.left {
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.4);
}

.right {
  border-left: none;
}

.card {
  padding: 10px;
}

.cardHeader {
  background-color: @border-color-card;
  border-bottom: 1px solid #eaeaea;
}

.searchCard {
  input {
    background-color: @border-color-card;
    border-radius: 50px;
    &:focus {
      background-color: #fff;
    }
  }
}

.linksCategory {
  border: none;
  :global {
    .ant-collapse-item {
      border-radius: 0 !important;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
    .ant-list {
      border: none;
      border-radius: 0;
    }
  }
}

.linksListItem {
  cursor: pointer;
  :hover {
    background-color: #e8e8e8;
  }
}

.linkName {
  :global {
    .ant-collapse {
      border: none !important;
    }
    .ant-collapse-header {
      input {
        background-color: @border-color-card;
        background-image: none;
        border: 0 !important;
        box-shadow: none !important;
      }
    }
  }
}

.linkSelector {
  padding: 16px;
  border-bottom: 1px solid #eaeaea;
}
